@use '../../../styles/breakpoints' as *;
@use '../../../styles/mixins' as *;

.title {
  color: var(--white);
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 20px;
  font-family: var(--worksans-bold);
}
.ShearToken {
  margin-bottom: 20px;
}
.boxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  // justify-content: center;

  @include breakpoint(dl) {
    // justify-content: space-between;
    gap: 20px;
  }
}

.box {
  background-color: var(--white);
  border-radius: 20px;
  padding: 20px;
  color: var(--midnight-blue);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 120px;

  width: 100%;
  @include breakpoint(ts) {
    width: 200px;
  }
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  .icon {
    width: 20px;
    height: 20px;
    
    img {
      width: 100%;
      height: 100%;
    }
  }
}
