@use "../../../styles/breakpoints" as *;
@use "../../../styles/mixins" as *;


.walletMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 10px;

    h2, a {
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        color: var(--japanese-laurel);
        
        @include breakpoint(ts) {
            font-size: 20px;
        }
    }
    
    @include breakpoint(tl) {
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-top:40px;
    }
}

.createWallet {
    display: flex;
    width: 205px;
    height: 45px;
    background-color: var(--black);
    padding: 0px 15px;
    gap: 10px;
    border-radius: 30px;
    align-items: center;
    transition: all 300ms ease-in-out;

    h2 {
        color: var(--white);
        font-size: 14px;
        font-family: var(--worksans-bold);
        margin: 0;
        font-family: var(--roboto-bold);
    }
    img {
        width: 30px;
        height: 30px;
    }
    &:hover {
        transform: scale(1.1);
    }
}

.connectWallet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: var(--white);
    border-radius: 40px;
    margin-top: 10px;

    h2 {
        color: var(--san-felix);
        font-size: 14px;
        margin: 0;
    }
    a {
        color: var(--san-felix);
        font-size: 14px;
        margin: 0;
    }
    
    @include breakpoint(tl){
        width: 205px;
        margin-top: 0px;
    }
}