:root {
	--grid-gap: 30px;
	--container-max-width: 1280px;

	//fonts

	--worksans-regular: 'WorkSans Regular';
	--worksans-bold: 'WorkSans Bold';
	--worksans-extra-light: 'WorkSans ExtraLight';
	--roboto-regular: 'Roboto Regular';
	--roboto-bold: 'Roboto Bold';

	// colors
	--white: #ffffff;
	--polar: #E7F4F9;
	--cornflower-blue: #72A3E8;
	--cornflower-purple: #6663FE;
	--bondi-blue: #00A0B6;
	--deep-blush: #E06C9F;
	--mariner: #266FD5;
	--apple: #5EB445;
	--black: #000000;
	--catalina-blue: #06367A;
	--midnight-blue: #00275C;
	--powder-blue: #BDE5EB;
	--fog:#D7D7FF;
	--we-peep:#F7DAE7;
	--gray: #929292;
	--tropical-blue: #CDDEF7;
	--japanese-laurel: #287A06;
	--monarch: #7A0627;
	--san-felix: #17670D;
	--forest-green: #19851E;
	--smalt: #003EA0;
	--la-palma: #1DC018;
}