@use "../../../styles/breakpoints" as *;
@use "../../../styles/mixins" as *;

.shearToken {
    margin-top: 10px;
    text-align: center;
    color: var(--white);
}

.title {
    margin: 20px 0 10px 0;
    font-size: 16px;
    font-family: var(--worksans-regular);
    
    @include breakpoint(tl) {
        font-size: 35px;
    }
    
    @include breakpoint(t) {
        margin: 0 0 10px 0;
        font-size: 25px;
    } 
}

.values {
    h2 {
        font-weight: 600;
        font-size: 40px;
        color: var(--white);
        font-family: var(--worksans-bold);
        margin: 0;
        
        @include breakpoint(t) {
            font-size: 56px;
        }
        
        @include breakpoint(tl) {
            color: var(--black);
            margin: 0 0 10px 0;
        }
    }


}

.usd {
    font-size: 25px!important;
    color: var(--white) !important;
    font-family: var(--worksans-bold) !important;
}

.buttons {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    
    @include breakpoint(t) {
        align-items: initial;
        flex-direction: initial;
        gap: 50px;
    }
    
    div {
        border-radius: 50px;
        padding: 10px;
        text-align: center;
        color: var(--black);
        background-color: var(--white);
        width: 130px;
        height: 45px;
        font-size: 15px;
        transition: all 300ms ease-in-out;
        font-family: var(--worksans-regular);
        
        
        
        @include breakpoint(t) {
            width: 200px;
            height: 55px;
            font-size: 24px;
        }
        
        &:hover {
            transform: scale(1.1);
        }
        
    }
    
    @include breakpoint(t) {
        align-items: center;
    }

}
.receive {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;

    img {
        width: 15px;
        height: 18px;
    }
}

.send {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    img{
        width: 15px;
        height: 18px;
    }
}